{% extends "base.html" %}

{% block title %}
  <title>Car List</title>
{% endblock %}

{% block content %}
  <h2>Car List </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Country</th>
        <th>All Drivers</th>
        <th>License Number</th>
      </tr>
    </thead>
    <tbody>
      {% for car in cars %}
      <tr>
        <td>{{ car.model }}</td>
        <td>{{ car.manufacturer.name }}</td>
        <td>{{ car.manufacturer.country }}</td>
        <td>
          {% for driver in car.drivers.all %}
            {{ driver.first_name }} {{ driver.last_name }}<br>
          {% endfor %}
        </td>
        <td>
          {% for driver in car.drivers.all %}
            {{ driver.license_number }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
