{% extends "base.html" %}

{% block title %}
  <title>Drivers</title>
{% endblock %}

{% block content %}
  <h2>Drivers</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Fullname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for driver in object_list %}
        <tr>
          <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
          <td>
              {{ driver.first_name }} {{ driver.last_name }}
          </td>
          <td>{{ driver.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
